@model CarpetViewModel

@{
    ViewData["Title"] = "";
}

@section Styles
{

    <link rel="stylesheet" href="~/css/carpet.css"/>
}

@section Scripts
{
    <script type="text/javascript" src="~/js/carpet.js"></script>
}

<input type="hidden" id="username" value="@Model.Username"/>
<input type="hidden" id="carpet-id" value="@Model.Carpet.Id"/>

<div id="menu">
    <h2>Valikko</h2>
    <button id="new-stripe" class="btn btn-primary">Lisää raita</button>
    <button id="delete-stripes" class="btn btn-primary">Poista raidat</button>
    <a class="btn btn-secondary" asp-area="" asp-controller="User" asp-action="GetUserCarpets" asp-route-username="@Model.Username">Valitse matto</a>
</div>

<div id="main">
    <h2 id="name">@Model.Carpet.Name</h2>
    <input type="text" id="new-name" style="display: none"/>
    <div id="carpet">
        @foreach (var stripe in Model.Carpet.Stripes)
        {
            <div data-stripe-id="@stripe.Id" data-stripe-height="@stripe.Height">
                <div class="stripe-selection"><p></p></div>
                <div class="stripe-element" style="background-color: @stripe.ColorString"></div>
                <div class="stripe-width"></div>
            </div>
        }
    </div>
    <h2 id="width">
        <span id="width-text">Leveys: </span>
        <span id="width-value">@Model.Carpet.Width</span>
        <input type="number" id="width-input" style="display: none"/>
    </h2>
</div>

<div id="edit">
    <h2>Muuta valittuja</h2>
    @foreach (var color in Model.Colors)
    {
        <div data-color-id="@color.Id" style="background-color: #@color.Rgb"></div>
    }
</div>